/* body {
    font-family: 'Josefin Slab', serif;
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 24);
    padding: 0px 20px;
}

#main-header a {
    text-decoration: none;
    font-family: 'Signika Negative', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: #fff;
}


header ul {
    list-style: none;
    display: flex;    
}

header li {
    margin-left: 20px;
}

#header-content a {
    font-size: 15px;
}

#main-header nav a:hover {
    background-color: #fff;
    color: rgb(29, 26, 24);
    padding: 10px;
    border-radius: 6px;
} */


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(58, 58, 58);
    font-family: 'Josefin Slab', serif;
    /* margin: 0; */
}

 a {
    text-decoration: none;
 }

#logo {
    font-size: 2rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

#main-header {
    /* width: 90%; */
    height: 5rem;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

#main-header a {
    color: rgb(237, 143, 19);
}

#main-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


#main-header li {
    margin: 0 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

#main-header nav a:hover {
    background-color: rgb(237, 143, 19);
    color: rgb(36, 36, 36);
    padding: 12px;
    border-radius: 6px;
}

main {
    width: 80%;
    margin: 30px auto;
}

main h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(237, 143, 19);
}

#latest-products {
    width: 80%;
    margin: 2rem auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    list-style: none;
}

.food-item {
    background-color: rgb(237, 143, 19);
    border-radius: 10px;
    overflow: hidden;
}

.food-item img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}

.food-item-content {
    text-align: center;
    padding:  1rem;   
}

.food-item-content h2 {
    margin-bottom: 1.25rem;
}

.btn {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1.5rem;
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(66, 66, 66);
}


